:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196F3;
    --white-text-color: #FFFFFF;
    --white-transparency: #FFFFFF99;
    --black-text-color: #000000;
    
    --primary-bg-color: #FFFFFF;
    --title-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --btn-bg-color: #2196F3;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*Logo*/
.logo{
    color: var(--accent-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.accent-header {
    color: var(--black-text-color);
}
.accent-footer {
    color: var(--white-text-color);
}

/*Site nav*/
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}
.site-nav .link.current {
    color: var(--accent-text-color)}

.connection .link {
    color: var(--title-text-color);
}
.connection .link:hover,
.connection .link:focus {
    color: var(--accent-text-color);
}
.site-nav,
.connection {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*Section*/
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*Hero*/
.hero {
    color: var(--primary-bg-color);
    background-color: var(--accent-bg-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn.primary {
    color: var(--white-text-color);
    background-color: var(--btn-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87; 
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.btn.primary:hover {
    color: var(--white-text-color);
    background-color: #188CE8;
}

/*Features*/
.feature-list .feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-list .title {
    color: var(--title-text-color);
   
    font-size: 14px;
    line-height: 1.71;
}

/*Team*/
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-list .title {
    color: var(--title-text-color);
    
    font-size: 16px;
    line-height: 1.19;
}
.section.team {
    background-color: var(--title-bg-color);
}

/*Portfolio*/
.section-portfolio .portfolio-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-portfolio .title {
    color: var(--title-text-color);
    
    font-size: 16px;
    line-height: 1.87;
}

/*Button*/
.btn {
    color: var(--primary-text-color);
    background-color: var(--title-bg-color);
}

.btn.secondary {
    color: var(--primary-text-color);
    background-color: var(--title-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    
    cursor: pointer;
}
.secondary.current {
    color: var(--white-text-color);
    background-color: var(--btn-bg-color);
}

/* Footer bg */
.page-footer {
    background-color: var(--accent-bg-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.connection-footer .link {
    color: var(--white-transparency);
}
.connection-footer .link:hover,
.connection-footer .link:focus {
    color: var(--accent-text-color);
}
.adress {
    color: var(--white-text-color);
    font-style: inherit;
}