:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196F3;
    --white-text-color: #FFFFFF;
    --white-transparency: #FFFFFF99;
    --black-text-color: #000000;
    
    --primary-bg-color: #FFFFFF;
    --title-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --btn-bg-color: #2196F3;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid greenyellow;
}

/*Logo*/
.logo{
    color: var(--accent-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.accent-header {
    color: var(--black-text-color);
}
.accent-footer {
    color: var(--white-text-color);
}
.logo-header {
    display: inline-block;
    margin-right: 93px;
}
.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
}

/*Site nav*/
.main-nav {
    display: flex;
    align-items: center;
}
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}
.site-nav .link.current {
    color: var(--accent-text-color)}

.connection .link {
    color: var(--title-text-color);
}
.connection .link:hover,
.connection .link:focus {
    color: var(--accent-text-color);
}
.site-nav,
.connection {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
}
.site-nav .list:not(:last-child),
.connection .list:not(:last-child)  {
    margin-right: 50px;
}
.connection {
    margin-left: auto;
}

/*Section*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

/*Hero*/
.hero {
    color: var(--primary-bg-color);
    background-color: var(--accent-bg-color);
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}
.btn.primary {
    color: var(--white-text-color);
    background-color: var(--btn-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87; 
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
}
.btn.primary:hover {
    color: var(--white-text-color);
    background-color: #188CE8;
}

/*Features*/
.feature-list .feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-list .title {
    color: var(--title-text-color);
   
    font-size: 14px;
    line-height: 1.71;
}
.feature-title {
    margin-bottom: 10px;
}

/*Work*/
.card-image.no-gap {
    display: block;
}

/*Team*/
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}
.team-list .title {
    color: var(--title-text-color);
    
    font-size: 16px;
    line-height: 1.19;
}
.section.team {
    background-color: var(--title-bg-color);
}
.team-foto {
    margin-bottom: 30px;
}

/*Portfolio*/
.section-portfolio .portfolio-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-portfolio .title {
    color: var(--title-text-color);
    
    font-size: 16px;
    line-height: 1.87;
}

/*Button portfolio*/
.btn.secondary {
    color: var(--primary-text-color);
    background-color: var(--title-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid transparent;

    cursor: pointer;
}
.secondary.current {
    color: var(--white-text-color);
    background-color: var(--btn-bg-color);
}

/* Footer bg */
.page-footer {
    background-color: var(--accent-bg-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    padding-top: 60px;
    padding-bottom: 60px;
}
.connection-footer .link {
    color: var(--white-transparency);
}
.connection-footer .link:hover,
.connection-footer .link:focus {
    color: var(--accent-text-color);
}
.footer-bottom {
    color: var(--white-text-color);
    font-style: inherit;
    margin-bottom: 9px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;
}
.mail-footer {
    margin-bottom: 9px;
}